@import "../../assets/scss/mixin";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  user-select: none;

  @include borders;
  @include buttons;

  span {
    margin-left: 2px;

    font-size: 12px;
  }

  &--visible {
    border-width: 1px;
    border-color: $darkBorder;
  }
  &-red {
    background-color: red;
  }
  &-value {
    &-1 {
      color: blue;
    }
    &-2 {
      color: green;
    }
    &-3 {
      color: red;
    }
    &-4 {
      color: purple;
    }
    &-5 {
      color: maroon;
    }
    &-6 {
      color: turquoise;
    }
    &-7 {
      color: black;
    }
    &-8 {
      color: gray;
    }
  }
}
