@import '../../assets/scss/constants';

.APP {
  background: $backgroundColor;
  padding: 16px;
  border-width: $borderSize;
  border-style: solid;
  border-right-color: $darkBorder;
  border-bottom-color: $darkBorder;
  border-left-color: $lightBorder;
  border-top-color: $lightBorder;
}

.header {
  background: #c0c0c0;
  padding: 10px 12px;
  border-width: $borderSize;
  border-style: solid;
  border-right-color: $lightBorder;
  border-bottom-color: $lightBorder;
  border-left-color: $darkBorder;
  border-top-color: $darkBorder;
}

.game_field {
  margin-top: 16px;
  background: #c0c0c0;
  border-width: $borderSize;
  border-style: solid;
  border-right-color: $lightBorder;
  border-bottom-color: $lightBorder;
  border-left-color: $darkBorder;
  border-top-color: $darkBorder;
}