@import "../../assets/scss/constants";
@import "../../assets/scss/mixin";

.APP {
  padding: 16px;

  background: $backgroundColor;

  @include borders;
}

.header {
  padding: 10px 12px;

  background: #c0c0c0;

  @include borders($darkBorder, $lightBorder);
}

.game_field {
  margin-top: 16px;

  display: grid;

  background: #c0c0c0;

  @include borders($darkBorder, $lightBorder);
}
